<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-info">
        <p class="carousel-title">Токийские мстители</p>
        <p class="carousel-description">Сложно исправить ошибки прошлого. Некоторые — невозможно. Когда жизнь начинает идти под откос ещё со средней школы, стоило бы бороться, но прогнуться и плыть по течению проще и безопаснее. </p>
        <button class="btn btn-light carousel-btn">Смотреть онлайн</button>
      </div>
      <div class="carousel-detail d-flex justify-content-between">
        <div class="">
          <div class="row">
            <p class="carousel-title">Рейтинг</p>
          </div>
          <i class="las la-star star-full"></i>
          <i class="las la-star star-full"></i>
          <i class="las la-star star-full"></i>
          <i class="las la-star star-full"></i>
          <i class="las la-star star-full"></i>
        </div>
        <div class="">
          <div class="row">
            <p class="carousel-title">Озвучил</p>
          </div>
          <div class="row">
            <p class="carousel-description">Anilibria team</p>
          </div>
        </div>
        <div class="">
          <div class="row">
            <p class="carousel-title">Жанр</p>
          </div>
          <div class="row">
            <p class="carousel-description">Сёнен   Драма   Экшен   Школьная жизнь</p>
          </div>
        </div>
      </div>
      <img src="/assets/images/slider/slide1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <div class="carousel-info">
        <p class="carousel-title">Ван пис</p>
        <p class="carousel-description">Бороздящие просторы Гранд-Лайна пираты уже отчаялись найти таинственное сокровище легендарного Короля Пиратов Роджера, сулящие нашедшему их счастливчику роскошную жизнь.</p>
        <button class="btn btn-light carousel-btn">Смотреть онлайн</button>
      </div>
      <div class="carousel-detail d-flex justify-content-between">
        <div class="">
          <div class="row">
            <p class="carousel-title">Рейтинг</p>
          </div>
          <i class="las la-star star-full"></i>
          <i class="las la-star star-full"></i>
          <i class="las la-star star-full"></i>
          <i class="las la-star star-full"></i>
          <i class="las la-star"></i>
        </div>
        <div class="">
          <div class="row">
            <p class="carousel-title">Озвучил</p>
          </div>
          <div class="row">
            <p class="carousel-description">Shachiburi</p>
          </div>
        </div>
        <div class="">
          <div class="row">
            <p class="carousel-title">Жанр</p>
          </div>
          <div class="row">
            <p class="carousel-description">Приключения Боевик Комедия Драма</p>
          </div>
        </div>
      </div>
      <img src="/assets/images/slider/slide2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <div class="carousel-info">
        <p class="carousel-title">О моём перерождении в слизь</p>
        <p class="carousel-description">Как только ни перерождались герои фэнтезийных аниме - встречали богинь и даже превращались в маленьких девочек. Однако в мир иной можно отправиться и в более... оригинальной форме.</p>
        <button class="btn btn-light carousel-btn">Смотреть онлайн</button>
      </div>
      <div class="carousel-detail d-flex justify-content-between">
        <div class="">
          <div class="row">
            <p class="carousel-title">Рейтинг</p>
          </div>
          <i class="las la-star star-full"></i>
          <i class="las la-star star-full"></i>
          <i class="las la-star star-full"></i>
          <i class="las la-star star-full"></i>
          <i class="las la-star"></i>
        </div>
        <div class="">
          <div class="row">
            <p class="carousel-title">Озвучил</p>
          </div>
          <div class="row">
            <p class="carousel-description">Anilibria team</p>
          </div>
        </div>
        <div class="">
          <div class="row">
            <p class="carousel-title">Жанр</p>
          </div>
          <div class="row">
            <p class="carousel-description">Приключения Боевик Комедия</p>
          </div>
        </div>
      </div>
      <img src="/assets/images/slider/slide3.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
