<footer>
  <div class="container-fluid">
    <div class="d-flex justify-content-between ms-5 me-5">
      <div class="w-75 bd-highlight">
        <img src="{{ logoPath}}" alt="Спасибо что выбираете нас">
      </div>
      <div class="w-100 bd-highlight">
        <div class="row">
          <div class="col-sm-auto">
            <ol>
              <li><a href="#" class="main-link-footer">AnimeFans</a></li>
              <li><a href="#" class="link-footer">Главная</a></li>
              <li><a href="#" class="link-footer">Приложение</a></li>
              <li><a href="#" class="link-footer">Новости</a></li>
              <li><a href="#" class="link-footer">Команда</a></li>
            </ol>
          </div>
          <div class="col-sm-auto">
            <ol>
              <li><a href="#" class="main-link-footer">Релизы</a></li>
              <li><a href="#" class="link-footer">Каталог</a></li>
              <li><a href="#" class="link-footer">Расписание</a></li>
              <li><a href="#" class="link-footer">Случайное</a></li>
            </ol>
          </div>
          <div class="col-sm-auto">
            <ol>
              <li><a href="#" class="main-link-footer">Контакты</a></li>
              <li><a href="#" class="link-footer">Поддержка</a></li>
              <li><a href="#" class="link-footer">Заявка в команду</a></li>
            </ol>
          </div>
        </div>
      </div>
      <div class="flex-shrink-1 bd-highlight help-project">
        <p class="text-help">Нам очень хочеться денег, а кому не хочется то, потому мы тут напишем небольшой текст а вы нам скиньте денег ок</p>
        <div class="d-flex justify-content-end">
          <button class="btn btn-outline-danger">Поддержать</button>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between top-line">
      <div class="w-100 bd-highlight">
        <p class="simple-text-left">AnimeFans 2022</p>
      </div>
      <div class="w-75 bd-highlight">
        <div class="row">
          <div class="col-sm-auto">
            <form class="d-flex">
              <button class="btn btn-icon">
                <i class="lab la-vk"></i>
              </button>
            </form>
          </div>
          <div class="col-sm-auto">
            <form class="d-flex">
              <button class="btn btn-icon">
                <i class="lab la-telegram"></i>
              </button>
            </form>
          </div>
          <div class="col-sm-auto">
            <form class="d-flex">
              <button class="btn btn-icon">
                <i class="lab la-discord"></i>
              </button>
            </form>
          </div>
          <div class="col-sm-auto">
            <form class="d-flex">
              <button class="btn btn-icon">
                <i class="lab la-youtube"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="w-75 bd-highlight">
        <p class="simple-text-right">Правообладателям</p>
      </div>
    </div>
  </div>
</footer>
